/* font-family: 'Concert One', cursive;
    font-family: 'Roboto', sans-serif; */
    
    @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        border: none;
    }

    body{
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        position: fixed;
        background-color: #D9D9D9;
    }

    .menu-dashboard{
        display: flex;
        flex-direction: column;
        border-right: 4px solid green;
        background-color: white;
        height: 100%;
        width: 20%;
        padding: 2% 4%;
        font-family: 'Roboto', sans-serif;
        color: #FAF9FF;
    }

    .menu-dashboard a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: green;
    }

    .menu-dashboard img{
        margin-right: 10%;
    }

    .menu-dashboard .principal-menu img:hover{
        width: 26px;
    }

    .menu-dashboard .importante-menu img:hover{
        width: 26px;
    }

    .principal-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85%;
        color: green;
        font-size: 20px;
    }

    .importante-menu{
        height: 15%;
    }

    .principal-menu a{
        margin-top: 50px;
    }

    .importante-menu a{
        margin-top: 10px;
    }

    .principal-menu a p:hover{
        border-bottom: 2px solid white;
        font-weight: bold;
    }

    .sair-item-menu a p:hover{
        border-bottom: 2px solid green;
        font-weight: bold;
    }

    .importante-menu a p:hover{
        font-weight: bold;
    }

    .dashboards{
        background-color: #9BC848;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .graficos{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .cadastro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 50%;
        height: 65vh;
    }

    .inputs_section{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cadastro_section{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .input_grupo input{
        margin-bottom: 30px;
        padding: 10px;
        border-bottom: 2px solid;
        text-align: center;
        outline: none;
        width: 100%;
        justify-content: center;
    }

    .input_grupo {
        width: 80%;
    }

    .cadastro_botao{
        background-color: #107c10;
        height: 40px;
        width: 180px;
    }

    .botao_cadastrar{
        cursor: pointer;
        color: white;
        background-color: #107c10;
        width: 100%;
        height: 100%;
        font-size: 20px;
    }

    .select_grupo{
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .select_grupo select{
        border: 2px solid black;
    }