/* font-family: 'Concert One', cursive;
    font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: none;
}

.container_header{
    background-color: whitesmoke;
    height: 100%;
    padding: 3px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #107c10;
}

.container_nevegacao ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.container_header .logo img{
    height: 55px;
    width: 155px;
}

/*daqui para baixo é a estilização da parte main*/

.valores{
    background-color: blue;
    height: 590px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.valores_section01{
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.valores_section02{
    background-color: peru;
    display: flex;
    justify-content: space-around;
    width: 100%;
}