/* font-family: 'Concert One', cursive;
    font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: none;
}

html {
    scroll-behavior: smooth;
}

.container_header{
    background-color: whitesmoke;
    height: 100%;
    padding: 3px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #107c10;
}

.container_nevegacao{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    height: 30%;
    width: 40%;
}

.outros{
    text-decoration: none;
    color: #107c10;
}

.agora{
    color: #107c10;
    text-decoration: underline;
}

.container_nevegacao ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.container_header .logo img{
    height: 55px;
    width: 155px;
}

/*daqui para baixo é a estilização da parte main*/

.banner{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(./img/call_of_duty_mw.jpg);
    background-size: cover;
    padding: 0 100px;
    height: 75vh;
}

.banner_frase{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: white;
}

.banner_frase p{
    margin-bottom: 85px;
    font-size: 20px;
}

.banner_frase h1{
    margin-bottom: 40px;
    color: #9BC848;
}

.divisao{
    font-size: 20px;
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divisao p a{
    text-decoration: none;
    color: #107c10;
}

.valores{
    background-color: aqua;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.valores_section01{
    background-color: #107c10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;

}

.section01_esquerdo{
    background-color: #107c10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 30%;
    color: white;
}

.section01_esquerdo img{
    height: 200px;
    width: 200px;
}

.section01_esquerdo p{
    margin-top: 15px;
}

.section01_direito{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 30%;
    background-color: #107c10;
    color: white;
}

.section01_direito img{
    height: 200px;
    width: 200px;
}

.section01_direito p{
    margin-top: 15px;
}

.games{
    background-color: #f2f2f2;
    width: 100%;
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.games-titulo{
    color: #107c10;
}

.games-recreacao{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.games-recreacao-texto{
    width: 100%;
    color: white;
    background-color: #9BC848;
    border-left: 2px solid #9BC848;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.recreacao{
    height: 300px;
    width: 370px;
    display: flex;
}

.games-competitivo{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.games-competitivo-texto{
    color: white;
    width: 100%;
    background-color: #9BC848;
    border-left: 2px solid #9BC848;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.competitivo{
    height: 300px;
    width: 370px;
    display: flex;
}

.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 200px;
    width: 100%;
    background-color: #107c10;
}

.contatos{
    margin-top: 20px;
    margin-bottom: 30px;
}